@use "_variables" as *;

@mixin flex-row-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin position {
    position: relative;
    z-index: 2;
}

@mixin flex-column-simple {
    display: flex;
    flex-direction: column;
}

//mixins-media

//size xs - mobile 

@mixin size-s {
    @media screen and (min-width: $width-xs) {
        @content;
    }
}
