// Colors
$gradient-supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$basic-white: white;
$background-transparent: #F5F5FA33;

//fonts
$font-size-med: 16px;
$font-family: "Montserrat", sans-serif;
$font-weight-strong: 700;

$padding-header: 10px 15px 10px 15px;

$width-xs: 375px;
$width-s: 768px;
$width-m: 1024px;
$width-l: 1140px;
$width-xl: 1924px;
