@use "../partials" as *;

.about-bg {
    background: $gradient-supersoft;
    // background-image: url(../../../src/imgs/symbol.png);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // width: 100%;
    // height: 400px;
    // position: relative;
    &__symbol {
        position: absolute;
        z-index: 1;
        width: 375px;
        height: 600px;
    }
}
