@use "../partials" as *;

.about-bg {
    background: $gradient-supersoft;
    background-attachment: fixed;
    &__symbol:before{
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        z-index: 1;
        width: 375px;
        height: 600px;
        background-image: url(../../src/imgs/symbol-mob.png);
    }
    
}

.position {
    padding-left: 30px;
    padding-right: 30px;
}

.article {
    padding-left: 30px;
    padding-right: 30px;
}

