@use "../../partials" as *;

.services__link {
    @include link;
}

.services__heading {
    @include heading-desc;
}

.service__types {
    display: grid;
    row-gap: 28px;
}

.services__item{
    :nth-child(1){
        margin-bottom: 28px;
    }
    :nth-child(2) {
        font-size: $font-size-smm;
        font-weight: $font-weight-strong;
        line-height: 26.82px;
        color: $link-blue;
        margin-bottom: 15px;
    }
    :nth-child(3) {
        font-size: $font-size-m;
        font-weight: $font-weight-medium;
        line-height: 26px;
        color: $basic-white;
    }
}
